<section id="nav-section">
  <nav class="desktop">
    <ul class="channel">
      <li><a href="https://github.com/SarniaTechCommunity" target="_blank" rel="noopener noreferrer"><img src="/assets/img/github-mark-white.png" alt="GitHub"></a></li>
      <li><a href="https://sarnia.slack.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/slack-white.svg" alt="Slack"></a></li>
      <li><a href="https://www.facebook.com/groups/SarniaTech/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/facebook-white.svg" alt="Facebook"></a></li>
      <!-- <li><a href="https://www.paypal.com/pools/c/81FegeEP1w" target="_blank" rel="noopener noreferrer"><img src="/assets/img/paypal-white.svg" alt="paypal"></a></li> -->
    </ul>
    <ul class="menu">
      <li><a href="/#meeting-section">Meetings</a></li>
      <li><a href="/#join-section">Join the Community</a></li>
      <li><a href="/#family-section">Friends and Family</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="https://drive.google.com/drive/folders/1xmpBF-IvRet79OuEPjGX39ZjBU91mCHN?usp=sharing" target="_blank" rel="noopener noreferrer">Google Drive</a></li>
    </ul>
  </nav>
  <nav class="mobile hamburger-menu">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 424 424" style="enable-background:new 0 0 424 424;" xml:space="preserve">
      <path class="menu1" d="M35,89C15,89,0,74,0,54s15-36,35-36h353c20,0,36,16,36,36s-16,35-36,35H35z" />
      <path class="menu2" d="M388,176c20,0,36,16,36,36s-16,35-36,35H35c-20,0-35-15-35-35s15-36,35-36H388z" />
      <path class="menu3" d="M388,335c20,0,36,15,36,35s-16,36-36,36H35c-20,0-35-16-35-36s15-35,35-35H388z" />
    </svg>
    <ul class="mobile mobile-full-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/#meeting-section">Meetings</a></li>
      <li><a href="/#join-section">Join the Community</a></li>
      <li><a href="/#family-section">Friends and Family</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="https://drive.google.com/drive/folders/1xmpBF-IvRet79OuEPjGX39ZjBU91mCHN?usp=sharing" target="_blank" rel="noopener noreferrer">Google Drive</a></li>
    </ul>
  </nav>
  <a href="/"><img class="top-logo" src="/assets/img/logo.svg" alt="logo"></a>
</section>
