/*COMMON*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body { background: #f5f5f5; }
.bg-white { background: white; }

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.top-logo{
    width: 6.5em;
}
#meeting-section, #join-section, #family-section{
    padding-top: 5em;
    padding-bottom: 5em;
}
.header-title{
    font-weight: 900;
}
.header-subtitle{
    line-height: 1.8em;
    font-weight: 300;
}
#join-section .header-title, #family-section .header-title, #meeting-section .header-title{
    color: #36528f;
    font-size: 2em;
    font-weight: bold;
}
.slug-color{
    color: #157f71 !important;
}
#join-section .header-subtitle, #family-section .header-subtitle, #meeting-section .header-subtitle{
    color: #909090;
}
.button:hover.header-button1 {
    border-color: #fff;
    color: #fff;
}
.button:hover.header-button2 {
    background: #0047e4;
    border-color: #0047e4;
    color: #fff;
}
.button:hover.header-button3{
    background: #157f71;
    border-color: #157f71;
    color: #fff;
}
.button-box{
    margin-top: 2em;
}
#header-section .button-box svg, #brand-download a svg{
    width: 1em;
    margin-top:-2px;
    margin-right: 10px;
    fill: #8cfef4;
}

#meeting-section .button-box svg, #join-section .button-box svg, #brand-download a svg{
    width: 1em;
    margin-top:-2px;
    margin-right: 10px;
    fill: #0047e4;
}

.button-box svg.member{
    width: 1.3em !important;
}
.header-button1, .header-button2, .header-button3{
    background-color: transparent;
    border-radius: 2em;
    width:100%;
    padding: 1.7em;
}
.header-button1{
    color: #8cfef4;
    border: 3px solid #8cfef4;
}
.header-button2{
    color: #0047e3;
    border: 3px solid #0047e4;
}
.header-button3{
    color: #157f71;
    border: 3px solid #157f71;
}
.text-right{
    text-align: right;
}
.header-title{
    margin-bottom: 1.5em;
}
.blk{
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}
.blue{
    color: #0047e4;
    text-decoration: underline;
    font-weight: bold;
}
.f-bold{
    font-weight: bold;
}
.header-button2.mobile{
    width: 100%;
    display: block;
}


/*Header Area*/
#header-section .main-img{
    right: 0em;
    z-index: 999;
    position: absolute;
    width: 60%
}
#header-section .header-title {
    color: white;
    font-size: 6em;
    margin-bottom: 1em;
    line-height: 1.3em;
}

#header-section .header-subtitle {
    color: white;
}



/*Nav Area*/
#nav-section, #header-section {
    background-color: #0047e4;
}
#nav-section .navbar-menu{
    color: #fff;
}
#nav-section .navbar-item img{
    max-height: 5em
}
#nav-section{
    padding: 3em 3em 0 3em;
}
#nav-section nav{
    float: right;
}
#nav-section nav ul, #nav-section nav ul li {
    display: inline-block;
    vertical-align: middle
}
#nav-section nav ul.channel{
    margin-right: 2em
}
#nav-section nav ul.channel li{
    margin: 0 0.3em
}
#nav-section nav ul.menu li{
    margin:0 1em ;
}
#nav-section nav ul.menu li a{
    color: #fff;
    padding:0.3em;
}
#nav-section nav ul.menu li a:hover{
    color: #8cfef4;
    border-bottom: solid 2px #8cfef4;
}
.desktop{
    display: inline-block
}
.mobile{
    display: none;
}
.hamburger-menu{
    fill: #fff;
}
.hamburger-menu.active{
    fill: #0047e4;
}
#nav-section nav.hamburger-menu svg{
    width: 3em;
    position: absolute;
    z-index: 2;
    top:3.5em;
    right:2em;
}
#nav-section nav.hamburger-menu ul{
    width: 100%;
    height: 100%;
    display:none;
    position: fixed;
    background: #fff;
    text-align: left;
    padding-top: 6em;
    z-index: 1;
    top:0;
    left:0;
}
#nav-section nav.hamburger-menu ul li{
    display: block;
    font-weight: bold;
    padding: 1em;
    border-bottom: solid 1px #dfdfdf;
}


/*Meeting Area*/
#meeting-section{
    background: #fafbfd url('../img/main2-map.svg') no-repeat;
    background-size: 70% auto;
}


/*Join Area*/
.facebook{
    text-align: right;
}
#join-section .social-icon a{
    padding-right: .5em;
}
#join-section .button-box .column a{
    padding: 1.7em .3em;
}


/*Family Area*/
#family-section{
    background: url('../img/main-bg3.png') no-repeat;
    text-align: center;
}

/* Brand Top Area*/
#brand-download {
    margin-top: 11vw
}
#brand-download a{
    width: 100%;
}
.brand-title{
    background: url(../img/bg_brand-title.png) no-repeat;
    background-position: bottom center;
    background-size: 10% 1px;
    font-size: 2em;
    color: #0047e4;
    text-align: center;
    margin-bottom: 11vw;
    padding-bottom: .7em;
    padding-top: 11vw;
}
.bg-btm{
    background: url(../img/bg_brand-box.png) no-repeat;
    background-position: bottom center;
    background-size: 60% 1px;
    padding-bottom: 11vw;
}
.bg-btm:last-child{
    background: none;
}
#brandtop-section{
    background: url('../img/bg_top_brand.png') no-repeat;
    background-size: 100% 100%;
}
#brandtop-section{
    text-align: center
}
#brandtop-section .brand-logo{
    width: 60%;
    padding: 0 5vw;
}
#brandtop-section .brand-box{
    padding: 1em;
}
#brand-logo-type .w{
    border: solid 1px #e8e8e8;
}
#brand-logo-type .b{
    background: #0047e4;
}
#brand-logo-type .h-logo{
    display: block;
    text-align: center;
    padding: 4vw 3vw;
}
#brand-logo-type .h-logo img{
    width: 30vw;
}
#brand-logo-type .v-logo{
    text-align: center;
    align-self:stretch;
    padding: 5vw 2vw;
}
#brand-logo-type .i-logo{
    text-align: center;
    align-self:stretch;
    padding: 3vw;
}

#brand-logo-type .title{
    text-align: right;
    color: #606060;
    font-size: .8em;
    margin-top: .7em;
}

#brand-color .color1{ background: #0082e6; width:100%; height: 5em; display: inline-block; }
#brand-color .color2{ background: #addeff; width:100%; height: 5em; display: inline-block; }
#brand-color .color3{ background: #ffffff; width:100%; height: 5em; display: inline-block;  border: solid 1px #e8e8e8;}
#brand-color .color4{ background: #606060; width:100%; height: 5em; display: inline-block; }
#brand-color .color5{ background: #0047e4; width:100%; height: 5em; display: inline-block; }
#brand-color .title{
    display: block;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: .8em;
    margin-top: .7em;
}
#brand-font .font-box{
    text-align: center;
}
#brand-font .heading-box,#brand-font .content-box{
    text-align: left
}
#brand-font .font1{
    color: #0047e4;
    font-size:3em;
}
#brand-font .font2{
    margin-top: 2em;
    margin-bottom: 6em;
}


#brand-font .font-heading1{
    font-size: 4em;
    font-weight: bold;
    color: #0047e4;
}
#brand-font .font-heading2{
    font-size: 2em;
    font-weight: bold;
    color: #0047e4;
}



/*Footer Area*/
footer{
    color: #909090;
    font-size: 0.8em;
}

@media only screen and (max-width: 1140px) {

    /* This hides the Facebook embed as soon as the layout starts to break. */
    .facebook {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .desktop{display: none}
    .mobile{display: inline-block;}

    nav.mobile {
        padding-top: 0.5em;
        text-align: right;
    }
    nav.mobile img{
        width: 30%;
    }
    .main-img{
        display: none;
    }

    section{
        padding-left: 2em;
        padding-right: 2em;
    }
    #header-section .header-title {
        font-size: 4em;
    }

    .facebook{
        text-align: center;
    }

    .header-button2.mobile{
        margin-top: 0;
    }

}

@media only screen and (max-width: 426px) {
    #header-section .header-title {
        font-size: 10vw;
    }

    #join-section .header-title, #family-section .header-title, #meeting-section .header-title {
        margin-bottom: 0.5em;
    }

    #join-section .header-title, #family-section .header-title, #meeting-section .header-subtitle {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1216px) {
    .dont-squash-me {
        width: 60%;
    }

}
