/*COMMON*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#meeting-section, #join-section, #family-section{
    padding-top: 5em;
    padding-bottom: 5em;
}
.header-title{
    font-weight: 900;
}
.header-subtitle{
    line-height: 1.8em;
    font-weight: 300;
}
#join-section .header-title, #family-section .header-title, #meeting-section .header-title{
    color: #36528f;
    font-size: 2em;
    font-weight: bold;
}

#join-section .header-subtitle, #family-section .header-subtitle, #meeting-section .header-subtitle{
    color: #909090;
}
.button:hover.header-button1 {
    border-color: #fff;
    color: #fff;
}
.header-button1, .header-button2, .header-button3{
    background-color: transparent;
    border-radius: 2em;
    margin-top: 2em;
    padding: 1.4em;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.header-button4{
    background: #0047e4;
    border-radius: 2em;
    margin-top: 2em;
    padding: 1.4em;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.header-button5{
    border: 3px solid #0047e4;
    border-radius: 2em;
    font-weight: bold;
    width: 10em;
    color: #0047e4;
    margin-top: 2em;
    padding: 1.4em;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.header-button5:last-child{
    margin-top: 1em;
}
.header-button5:hover{
    background: #0047e4;
    color: #fff;
    border: 3px solid #0047e4;
}
.header-button4:hover{
    color: #fff;
    background: #0034a7;
    border: 3px solid #0047e4;
}
.header-button1{
    color: #8cfef4;
    border: 3px solid #8cfef4;
}
.header-button2{
    color: #0047e3;
    border: 3px solid #0047e4;
    margin-right: .8em;
}
.header-button3{
    color: #157f71;
    border: 3px solid #157f71;
}
.header-button4{
    color: #fff;
    border: 3px solid #0047e4;
}
.text-right{
    text-align: right;
}
.header-title{
    margin-bottom: 1.5em;
}
.blk{
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}
.blue{
    color: #0047e4;
    text-decoration: underline;
    font-weight: bold;
}
.ftwt-bold{
    font-weight: bold;
}



/*Header Area*/
#header-section .main-img{
    top:-3vw;
    right: 0em;
    z-index: 999;
    position: absolute;
    width: 60%
}
#header-section .header-title {
    color: white;
    font-size: 5vw;
    margin-bottom: 1em;
    line-height: 1.3em;
}

#header-section .header-subtitle {
    color: white;
}



/*Nav Area*/
#nav-section, #header-section {
    background-color: #0047e4;
}
#nav-section .navbar-menu{
    color: #fff;
}
#nav-section .navbar-item img{
    max-height: 5em
}
#nav-section{
    padding: 3em 3em 0 3em;
}
#nav-section nav{
    float: right;
}
#nav-section nav.mobile{
    width: 3em;
}
#nav-section nav ul, #nav-section nav ul li {
    display: inline-block;
    vertical-align: middle
}
#nav-section nav ul.channel{
    margin-right: 2em
}
#nav-section nav ul.channel li{
    margin: 0 0.3em
}
#nav-section nav ul.menu li{
    margin:0 1em ;
}
#nav-section nav ul.menu li a{
    color: #fff;
    padding:0.3em;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
#nav-section nav ul.menu li a:hover{
    color: #8cfef4;
    border-bottom: solid 2px #8cfef4;
}
.top-logo{
    width: 5%;
}
.desktop{
    display: inline-block
}
.mobile{
    display: none;
}
.hamburger-menu{
    fill: #fff;
}
.hamburger-menu.active{
    fill: #0047e4;
}
#nav-section nav.hamburger-menu svg{
    width: 3em;
    position: absolute;
    z-index: 2;
    top:3.5em;
    right:2em;
}
#nav-section nav.hamburger-menu ul{
    width: 100%;
    height: 100%;
    display:none;
    position: fixed;
    background: #fff;
    text-align: left;
    padding-top: 6em;
    z-index: 1;
    top:0;
    left:0;
}
#nav-section nav.hamburger-menu ul li{
    display: block;
    font-weight: bold;
    padding: 1em;
    border-bottom: solid 1px #dfdfdf;
}


/*Meeting Area*/
#meeting-section{
    background: #fafbfd url('../img/main2-map.svg') no-repeat;
    background-size: 70% auto;
}
#meeting-section img{
    width:80%;
}

/*Join Area*/
.facebook{
    text-align: right;
}


/*********************************************************************************
* Brand Page
**********************************************************************************/
section.brand{
    padding-bottom: 0
}
.container.brand{
    background: #fff;
    padding: 170px 3em;
}
h2.brand-title{ 
    color: #0047e4;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 150px;
    padding-bottom: .8em;
    background: url('../img/bg_brand_title.png') no-repeat;
    background-size: 30% 1px;
    background-position: bottom center;
}
.brand-all, .brand-download{
    text-align: center;
}
.brand-all img{
    width: 50%;
    border: solid 1px #e8e8e8;
}
.brand-color-box, .brand-text-box{
    background: url('../img/bg_brand_grey.png') no-repeat;
    background-size: 70% 1px;
    background-position: top center;
}
.brand-colors-group{
    text-align: center;
}
span.brand-color{
    width: 100%;
    height: 13vw;
    display: inline-block;
    margin-bottom: 1em;
    color: #606060;
}
.color1{
    background: #0082e6;
}
.color2{
    background: #addeff;
}
.color3{
    background: #ffffff;
    border: solid 1px #e8e8e8;
}
.color4{
    background: #606060;
}
.color5{
    background: #0047e4;
}
.brand-type{
    color: #0047e4;
}
.brand-type .type1{
    font-size: 4em;
    font-weight: bold;
}
.brand-type .type2{
    font-size: 1.5em;
}



/*Family Area*/
#family-section{
    background: url('../img/main-bg3.png') no-repeat;
    text-align: center;
}

/*Footer Area*/
footer{
    color: #909090;
    font-size: 0.8em;
}

@media only screen and (max-width: 1140px) {

    /* This hides the Facebook embed as soon as the layout starts to break. */
    .facebook {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .desktop{display: none}
    .mobile{display: inline-block;}

    nav.mobile {
        padding-top: 0.5em;
        text-align: right;
    }
    nav.mobile img{
        width: 30%;
    }
    .top-logo{
        width: 15%;
    }
    .main-img{
        display: none;
    }

    section{
        padding-left: 2em;
        padding-right: 2em;
    }

    .facebook{
    text-align: center;

    }
    .join-section-btnbox{
        text-align: center;
    }

    .brand-all img{
        width: 100%;
    }

}

@media only screen and (max-width: 426px) {
    #header-section .header-title {
        font-size: 4em;
    }
    .top-logo{
        width: 30%;
    }

    #join-section .header-title, #family-section .header-title, #meeting-section .header-title {
        margin-bottom: 0.5em;
    }

    #join-section .header-title, #family-section .header-title, #meeting-section .header-subtitle {
        margin-top: 1em;
    }
    .container.brand {
        padding: 53px 2em;
    }
    h2.brand-title{
        margin-bottom: 2.5em;
    }
    .brand-type .type1{
        font-size: 3em;
    }

}

@media only screen and (min-width: 1216px) {
    .dont-squash-me {
        width: 60%;
    }

}
