<section class="is-large" id="family-section">
  <div class="container is-centered">
    <h2 class="header-title slug-color">Friends and Family</h1>
      <h3 class="header-subtitle">Sarnia Tech Community is a friend and follower of SLLUG (Sarnia Lambton
        Linux Users Group) Go check out SLLUG’s Website.
      </h3>
      <div class="columns button-box is-tablet is-centered">
        <div class="column is-3"><a href="http://www.sllug.ca/" class="button header-button3">Go to SLLUG</a></div>
      </div>
  </div>
</section>