<section class="is-large" id="join-section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <h2 class="header-title">Join the Community</h2>
          <div class="social-icon channel">
            <a href="https://sarnia.slack.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/slack-rgb.svg" alt="slack"></a>
            <a href="https://www.facebook.com/groups/SarniaTech/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/facebook-rgb.svg" alt="facebook"></a>
            <a href="https://www.paypal.com/pools/c/81FegeEP1w" target="_blank" rel="noopener noreferrer"><img src="/assets/img/paypal-rgb.svg" alt="paypal"></a>
          </div>

        <p class="header-subtitle">The best place to see upcoming events is by joining our <a href="https://www.facebook.com/groups/SarniaTech/" target="_blank" rel="noopener noreferrer"><span
              class="blue">Facebook</span></a> Group.
          If you would like to join the conversation then check out our <a href="https://sarnia.slack.com/" target="_blank" rel="noopener noreferrer">Slack
            Group</a>.
          To get a slack invite and join our mailing list sign up to <a href="/member">become a Sarnia
            Tech Community Member</a>.
          If you would only like to receive emails about major events then <a href="/subscriber">become a
            Subscriber</a>.
          We also have a <a href="https://goo.gl/4vA69g" target="_blank" rel="noopener noreferrer">Google Drive</a> where you can check out some of
          our collaboration docs.
          PS We take privacy very seriously. We will only use the information you provide to give you
          information about the Sarnia Tech Community.
          PPS You can unsubscribe or change your email preferences at any time.</p>
        <div class="columns button-box is-desktop">
          <div class="column is-4">
            <a href="https://www.facebook.com/groups/SarniaTech/" target="_blank" rel="noopener noreferrer" class="button header-button2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z" /></svg>
              Go to Facebook
            </a>
          </div>
          <div class="column is-4">
            <a href="/member" class="button header-button2">
              <svg class="member" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path d="M320 64c57.99 0 105 47.01 105 105s-47.01 105-105 105-105-47.01-105-105S262.01 64 320 64zm113.463 217.366l-39.982-9.996c-49.168 35.365-108.766 27.473-146.961 0l-39.982 9.996C174.485 289.379 152 318.177 152 351.216V412c0 19.882 16.118 36 36 36h264c19.882 0 36-16.118 36-36v-60.784c0-33.039-22.485-61.837-54.537-69.85zM528 300c38.66 0 70-31.34 70-70s-31.34-70-70-70-70 31.34-70 70 31.34 70 70 70zm-416 0c38.66 0 70-31.34 70-70s-31.34-70-70-70-70 31.34-70 70 31.34 70 70 70zm24 112v-60.784c0-16.551 4.593-32.204 12.703-45.599-29.988 14.72-63.336 8.708-85.69-7.37l-26.655 6.664C14.99 310.252 0 329.452 0 351.477V392c0 13.255 10.745 24 24 24h112.169a52.417 52.417 0 0 1-.169-4zm467.642-107.09l-26.655-6.664c-27.925 20.086-60.89 19.233-85.786 7.218C499.369 318.893 504 334.601 504 351.216V412c0 1.347-.068 2.678-.169 4H616c13.255 0 24-10.745 24-24v-40.523c0-22.025-14.99-41.225-36.358-46.567z" /></svg>
              Become a Member</a>
          </div>
          <div class="column is-4"><a href="/subscriber" class="button header-button2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0     7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" /></svg>Subscribe
              for Updates</a></div>
        </div>
        <h2 class="header-title">Support the Community</h2>
        <p class="header-subtitle">The Sarnia Tech Community is a member-driven group. We hold both regular and irregular events
          that are open to the public. Most of these events operate without an entry fee. If you would like to help support our
          group, feel free to chip into our <a href="https://www.paypal.com/pools/c/81FegeEP1w" target="_blank" rel="noopener noreferrer">PayPal Pool</a>.</p>
        <div class="columns button-box is-desktop">
          <div class="column is-4 is-offset-4">
            <a href="https://www.paypal.com/pools/c/81FegeEP1w" target="_blank" rel="noopener noreferrer" class="button header-button2">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g><g><path d="M409.713,38.624C385.842,11.584,342.642,0,287.377,0H126.993c-11.296,0-20.896,8.16-22.688,19.2L37.522,439.392
              			c-1.312,8.288,5.152,15.776,13.6,15.776h99.008l24.864-156.48l-0.768,4.928c1.76-11.04,11.328-19.2,22.624-19.2h47.04
              			c92.448,0,164.8-37.248,185.952-144.992c0.64-3.2,1.632-9.344,1.632-9.344C437.489,90.208,431.441,63.168,409.713,38.624z"/></g></g>
              <g><g><path d="M456.529,150.496c-22.976,106.08-96.288,162.208-212.64,162.208h-42.176L170.225,512h68.416
              			c9.888,0,18.304-7.136,19.84-16.832l0.8-4.224l15.744-98.912l1.024-5.44c1.536-9.696,9.952-16.832,19.808-16.832h12.512
              			c80.864,0,144.16-32.576,162.656-126.816C478.449,205.12,474.865,173.408,456.529,150.496z"/></g></g></svg>
              Chip In at PayPal
            </a>
          </div>
        </div>

      </div>
      <div class="column facebook">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsarniatech&tabs=timeline%2C%20events&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
          allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</section>
