<section class="is-large" id="join-section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <h2 class="header-title">Join the Community</h2>
        <div class="social-icon">
          <a href="https://sarnia.slack.com/"><img src="assets/img/ch1-2.png" alt="slack"></a>
          <!-- <a href="https://www.facebook.com/groups/SarniaTech/"><img src="assets/img/ch2.png" alt="twitter"></a> -->
          <a href="https://www.facebook.com/groups/SarniaTech/"><img src="assets/img/ch3.png" alt="facebook"></a>
        </div>

        <h3 class="header-subtitle">The best place to see upcoming events is by joining our <a href="https://www.facebook.com/groups/SarniaTech/"><span
              class="blue">Facebook</span></a> Group.
          If you would like to join the conversation then check out our <a href="https://sarnia.slack.com/">Slack
            Group</a>.
          To get a slack invite and join our mailing list sign up to <a href="/member">become a Sarnia
            Tech Community Member</a>.
          If you would only like to receive emails about major events then <a href="/subscriber">become a
            Subscriber</a>.
          We also have a <a href="https://goo.gl/4vA69g">Google Drive</a> where you can check out some of
          our collaboration docs.
          PS We take privacy very seriously. We will only use the information you provide to give you
          information about the Sarnia Tech Community.
          PPS You can unsubscribe or change your email preferences at any time.</h3>
        <div class="columns button-box is-desktop">
          <div class="column is-4">
            <a href="https://www.facebook.com/groups/SarniaTech/" class="button header-button2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z" /></svg>
              Go to Facebook
            </a>
          </div>
          <div class="column is-4">
            <a href="/member" class="button header-button2">
              <svg class="member" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path d="M320 64c57.99 0 105 47.01 105 105s-47.01 105-105 105-105-47.01-105-105S262.01 64 320 64zm113.463 217.366l-39.982-9.996c-49.168 35.365-108.766 27.473-146.961 0l-39.982 9.996C174.485 289.379 152 318.177 152 351.216V412c0 19.882 16.118 36 36 36h264c19.882 0 36-16.118 36-36v-60.784c0-33.039-22.485-61.837-54.537-69.85zM528 300c38.66 0 70-31.34 70-70s-31.34-70-70-70-70 31.34-70 70 31.34 70 70 70zm-416 0c38.66 0 70-31.34 70-70s-31.34-70-70-70-70 31.34-70 70 31.34 70 70 70zm24 112v-60.784c0-16.551 4.593-32.204 12.703-45.599-29.988 14.72-63.336 8.708-85.69-7.37l-26.655 6.664C14.99 310.252 0 329.452 0 351.477V392c0 13.255 10.745 24 24 24h112.169a52.417 52.417 0 0 1-.169-4zm467.642-107.09l-26.655-6.664c-27.925 20.086-60.89 19.233-85.786 7.218C499.369 318.893 504 334.601 504 351.216V412c0 1.347-.068 2.678-.169 4H616c13.255 0 24-10.745 24-24v-40.523c0-22.025-14.99-41.225-36.358-46.567z" /></svg>
              Become a Member</a>
          </div>
          <div class="column is-4"><a href="/subscriber" class="button header-button2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0     7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" /></svg>Subscribe
              for Updates</a></div>
        </div>

      </div>
      <div class="column facebook">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsarniatech&tabs=timeline%2C%20events&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
          allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</section>