<section class="is-large" id="meeting-section">
  <div class="container">
    <div class="columns">
      <div class="column"><img src="assets/img/main-img2.svg" alt="meetings"></div>
      <div class="column is-half text-right">
        <div class="columns">
          <div class="column is-one-third">
            <!-- leave empty. -->
          </div>
          <div class="column is-two-third" style="text-align: left;">
            <h2 class="header-title">Networking Events</h1>
              <h3 class="header-subtitle">We have an open <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsocLz-IK0Nq8AsELee2NFvrcS8M3mRvyhnKlV40aOhOv7KQ/viewform">Call for Proposals</a>. If you're interested
                in speaking to our group, fill out the form now:</h3>
              <div class="columns button-box is-desktop">
                <div class="column is-10-tablet is-5">
                   <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsocLz-IK0Nq8AsELee2NFvrcS8M3mRvyhnKlV40aOhOv7KQ/viewform"
                    class="button header-button2">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="576px" height="576px" viewBox="0 0 576 576" style="enable-background:new 0 0 576 576;" xml:space="preserve">
<g><path d="M240,32L240,32c132.549,0,240,86.957,240,194.224S372.549,420.448,240,420.448c-12.729,0-25.223-0.81-37.417-2.355
		C151.03,469.44,91.497,478.647,32,480v-12.567c32.126-15.677,58-44.231,58-76.866c0-4.553-0.356-9.023-1.015-13.396
		C34.706,341.562,0,287.175,0,226.224C0,118.957,107.452,32,240,32z M498,467.343c0,27.973,18.156,52.449,46,65.886V544
		c-51.562-1.159-98.893-9.051-143.57-53.062c-10.57,1.324-21.396,2.021-32.43,2.021c-47.734,0-91.704-12.879-126.807-34.521
		c72.336-0.254,140.629-23.428,192.417-65.336c26.105-21.127,46.697-45.914,61.207-73.675C510.199,289.994,518,258.636,518,226.224
		c0-5.224-0.225-10.418-0.629-15.584C553.656,240.607,576,281.451,576,326.479c0,52.244-30.078,98.86-77.119,129.383
		C498.309,459.608,498,463.44,498,467.343z"/></g></svg>
                    Submit a Proposal</a>
                </div>
              </div>
              <h3 class="header-subtitle ">We get together once in a while to talk about tech,
                entrepreneurship and business. We meet up at the Story
                which is located in Downtown Sarnia. For more information on upcoming events,
                please visit our Facebook page.
              </h3>
              <div class="columns button-box is-desktop">
                <div class="column is-10-tablet is-5">
                  <a href="https://www.google.ca/maps/place/theStory/@42.9729758,-82.4094274,17z/data=!4m5!3m4!1s0x88259cc31bde2e8b:0x8ed04c1348104121!8m2!3d42.9729758!4d-82.4072387"
                    class="button header-button2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                      <path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" /></svg>
                    The Story Location</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
