<section class="is-large" id="meeting-section">
  <div class="container">
    <div class="columns">
      <div class="column"><img src="assets/img/main-img2.svg" alt="meetings"></div>
      <div class="column is-half text-right">
        <div class="columns">
          <div class="column is-one-third">
            <!-- leave empty. -->
          </div>
          <div class="column is-two-third" style="text-align: left;">
            <h2 class="header-title">Networking Events</h1>
              <h3 class="header-subtitle ">We get together once in a while to talk about tech,
                entrepreneurship and business. We meet up at the Story
                which is located in Downtown Sarnia. For more information on upcoming events,
                please visit our Facebook page.
              </h3>
              <div class="columns button-box is-desktop">
                <div class="column is-10-tablet is-5">
                  <a href="https://www.google.ca/maps/place/theStory/@42.9729758,-82.4094274,17z/data=!4m5!3m4!1s0x88259cc31bde2e8b:0x8ed04c1348104121!8m2!3d42.9729758!4d-82.4072387"
                    class="button header-button2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                      <path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" /></svg>
                    The Story Location</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>